#title{
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 6px;
    font-size: 50px;
}

#kettleBell{
    width: 50px;
    padding: 40px;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBE9E6;
    margin: 0px;
}

h2{
    text-align: center;
    font-size: 30px;
}

.checkBox{
    display:flex;
    flex-wrap: wrap;
    max-width: 1200px;
    
}

.check{
    padding: 15px;
}

#subText{
    margin: auto;
}

.Download{
    margin:auto;
    display: flex;
    justify-content: center;
}